NEXT_PUBLIC_SUPABASE_URL=https://rucsowndqbckpepwinnp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xVjjdsqT6D8BqKJVeAN7nw_NXdjuQY-
NEXT_PUBLIC_SITE_URL=https://orderflow-eight-eta.vercel.app
